In [62]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup
import requests
import numpy as np
import re
import requests
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import  ElementNotInteractableException

# Q1

In [2]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [6]:
rank=[]
name=[]
artist=[]
date=[]
view=[]

In [11]:
ranks = driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[1]')
for i in ranks:
    rk = i.text
    rank.append(rk)
names = driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[2]')
for i in names:
    nm = i.text
    name.append(nm)
artists = driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[3]')
for i in artists:
    art = i.text
    artist.append(art)
dates = driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[4]')
for i in dates:
    dt = i.text
    date.append(dt)
views = driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[5]')
for i in views:
    vw = i.text
    view.append(vw)

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'January 30, 2017', 'April 6, 2015', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'February 27, 2018', 'July 15, 2012', 'January 31, 2012', 'April 5, 2018', 'June 16, 2009', 'January 14, 2015', 'May 31, 2013', 'September 5, 2013', 'June 25, 2018', 'June 4, 2010', 'October 22, 2015', 'June 14, 2018', 'October 7, 2014', 'February 20, 2014', 'January 26, 2018', 'November 9, 2017', 'July 25, 2012', 'December 3, 2015', 'May 31, 2018', 'May 10, 2011', 'March 22, 2015']

In [12]:
df=pd.DataFrame({'Rank':rank,'NAME':name,'ARTIST':artist,'VIEWS':date,'DATE':view})
df

,Rank,NAME,ARTIST,VIEWS,DATE
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.82,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.45,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.11,"January 30, 2017"
5,6.,"""See You Again""[22]",Wiz Khalifa,6.05,"April 6, 2015"
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.62,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.52,"March 6, 2014"
8,9.,"""Uptown Funk""[29]",Mark Ronson,5.05,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,4.99,"February 27, 2018"
10,11.,"""Gangnam Style""[31]",officialpsy,4.92,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.56,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.46,"April 5, 2018"
13,14.,"""Axel F""[38]",Crazy Frog,4.09,"June 16, 2009"
14,15.,"""Sugar""[39]",Maroon 5,3.95,"January 14, 2015"
15,16.,"""Counting Stars""[40]",OneRepublic,3.89,"May 31, 2013"
16,17.,"""Roar""[41]",Katy Perry,3.89,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.80,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.75,"June 4, 2010"
19,20.,"""Sorry""[44]",Justin Bieber,3.72,"October 22, 2015"
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.71,"June 14, 2018"
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.67,"October 7, 2014"
22,23.,"""Dark Horse""[47]",Katy Perry,3.60,"February 20, 2014"
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.58,"January 26, 2018"
24,25.,"""Perfect""[49]",Ed Sheeran,3.56,"November 9, 2017"
25,26.,"""Let Her Go""[50]",Passenger,3.53,"July 25, 2012"
26,27.,"""Faded""[51]",Alan Walker,3.53,"December 3, 2015"
27,28.,"""Girls Like You""[52]",Maroon 5,3.50,"May 31, 2018"
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,3.48,"May 10, 2011"
29,30.,"""Lean On""[54]",Major Lazer Official,3.48,"March 22, 2015"

# Q2

In [2]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [4]:
slct=driver.find_element(By.CLASS_NAME,"moreMatchesLink")
slct.click()

In [5]:
serie=[]
place=[]
time=[]
date=[]

In [6]:
dates = driver.find_elements(By.XPATH,'//div[@class="fixture-tab-inner row"]/div/div/div/div/div/div[2]/div[1]')
for i in dates:
    dt = i.text
    date.append(dt)
times = driver.find_elements(By.XPATH,'//div[@class="fixture-tab-inner row"]/div/div/div/div/div/div[2]/div[2]')
for i in times:
    tm = i.text
    time.append(tm)
places = driver.find_elements(By.XPATH, '//div[@class="fixture-tab-inner row"]/div/div/div[2]/div[1]/span[1]')
for i in places:
    pl = i.text
    place.append(pl)
series = driver.find_elements(By.XPATH, '//div[@class="tab-inner-content"]/div/div/div/div[1]/div/div/h5')
for i in series:
    sr = i.text
    serie.append(sr)

In [13]:
df=pd.DataFrame({'Date':date,'place':place,'time':time,'series':serie})
df

,Date,place,time,series
0,"13 NOVEMBER, 2023","DVR Ground,Mulapadu,",9:00 AM IST,QUADRANGULAR MENS U19 ONE DAY SERIES
1,"13 NOVEMBER, 2023","CP Ground,Mulapadu,",9:00 AM IST,QUADRANGULAR MENS U19 ONE DAY SERIES
2,"15 NOVEMBER, 2023","DVR Ground,Mulapadu,",9:00 AM IST,QUADRANGULAR MENS U19 ONE DAY SERIES
3,"15 NOVEMBER, 2023","CP Ground,Mulapadu,",9:00 AM IST,QUADRANGULAR MENS U19 ONE DAY SERIES
4,"17 NOVEMBER, 2023","DVR Ground,Mulapadu,",9:00 AM IST,QUADRANGULAR MENS U19 ONE DAY SERIES
...,...,...,...,...
205,"30 NOVEMBER, 2017","Cricket Club of India,",2:30 PM IST,ICC MENS WORLD CUP 2023
206,"28 NOVEMBER, 2017","BKC Ground,",2:30 PM IST,ICC MENS WORLD CUP 2023
207,"28 NOVEMBER, 2017","Cricket Club of India,",2:30 PM IST,ICC MENS WORLD CUP 2023
208,"26 NOVEMBER, 2017","BKC Ground,",2:30 PM IST,ICC MENS WORLD CUP 2023
209,"26 NOVEMBER, 2017","Cricket Club of India,",2:30 PM IST,ICC MENS WORLD CUP 2023

# Q 3

In [22]:
driver=webdriver.Chrome()
driver.get("https://statisticstimes.com/")

In [23]:
slct=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
slct.click()

In [24]:
slct=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
slct.click()

In [26]:
slct=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
slct.click()

In [28]:
rank=[]
state=[]
n1=[]
n2=[]
share=[]
gdp=[]

In [39]:
ranks = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in ranks:
    rk = i.text
    rank.append(rk)
states = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in states:
    st = i.text
    state.append(st)
n1s = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in n1s:
    num = i.text
    n1.append(num)
n2s = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in n2s:
    nums = i.text
    n2.append(nums)
shrs = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in shrs:
    sh = i.text
    share.append(sh)
gdps = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdps:
    dg = i.text
    gdp.append(dg)

In [41]:
df=pd.DataFrame({'RANK':rank,'STATE':state,'GSDP(19-20)':n2,'GSDP(18-19)':n1,'Share(18-19)':share,'GDP($ billion) ':gdp})
df

,RANK,STATE,GSDP(19-20),GSDP(18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q4

In [2]:
driver=webdriver.Chrome()
driver.get('https://github.com/')

In [3]:
slct=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
slct.click()

In [4]:
slct = driver.find_element(By.XPATH, '//a[@href="/trending"]')
slct.click()

In [9]:
tit=[]
desc=[]
ccount=[]
lang=[]

In [12]:
tits = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h2/a/span')
for i in tits:
    tt = i.text
    tit.append(tt)
decs = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in decs:
    ds = i.text
    desc.append(ds)
ccs = driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span/span[2]')
for i in ccs:
    cs = i.text
    ccount.append(cs)

In [16]:
len(desc)

23

In [17]:
df=pd.DataFrame({'REPO NAME':tit[:22],'REPO DESC':desc[:22],'Language':ccount[:22]})
df

,REPO NAME,REPO DESC,Language
0,PWhiddy /,Playing Pokemon Red with Reinforcement Learning,Jupyter Notebook
1,spdustin /,🚀🧠💬 Supercharged Custom Instructions for ChatG...,Python
2,omnivore-app /,"Omnivore is a complete, open source read-it-la...",HTML
3,hustvl /,4D Gaussian Splatting for Real-Time Dynamic Sc...,Python
4,doocs /,🔥LeetCode solutions in any programming languag...,Java
5,FreeTubeApp /,An Open Source YouTube app for privacy,JavaScript
6,geekan /,🌟 The Multi-Agent Framework: Given one line Re...,Python
7,huggingface /,A blazing fast inference solution for text emb...,Rust
8,cpacker /,Teaching LLMs memory management for unbounded ...,Python
9,pi-hole /,A black hole for Internet advertisements,Shell
10,Orange-Cyberdefense /,game of active directory,PowerShell
11,Sangwan5688 /,A Music Player App made with Flutter,Dart
12,nokyan /,Monitor your system resources and processes,Rust
13,microsoft /,Enable Next-Gen Large Language Model Applicati...,Jupyter Notebook
14,formbricks /,Open Source Surveys & Experience Management So...,TypeScript
15,itrewub /,Learn Python from DevOps Engineer point of you.,JavaScript
16,iam-veeramalla /,"Removes The ""Ad blocker are not allowed on You...",TypeScript
17,TheRealJoelmatic /,Scheduling infrastructure for absolutely every...,Lua
18,calcom /,Neovim config for the lazy,C
19,LazyVim /,Embedded graphics library to create beautiful ...,TypeScript
20,lvgl /,"The best way to start a full-stack, typesafe N...",Clojure
21,t3-oss /,Penpot - The Open-Source design & prototyping ...,Python

# Q5

In [18]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [19]:
slct = driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
slct.click()

In [20]:
slct = driver.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
slct.click()

In [21]:
name=[]
artist=[]
lrank=[]
prank=[]
week=[]

In [34]:
ranks = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
for i in ranks:
    rk = i.text
    lrank.append(rk)
weeks = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in weeks:
    wk = i.text
    week.append(wk)
arts = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in arts:
    ar = i.text
    artist.append(ar)
nams = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
for i in nams:
    nm = i.text
    name.append(nm)
prs = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
for i in prs:
    pr = i.text
    prank.append(pr)

In [35]:
len(prank)

100

In [36]:
df=pd.DataFrame({'week':week,'Artist':artist,'song':name,'last week':lrank,'peak rank':prank})
df

,week,Artist,song,last week,peak rank
0,1,Drake Featuring J. Cole,First Person Shooter,-,1
1,2,Drake Featuring Yeat,IDGAF,-,2
2,3,Drake,Virginia Beach,-,3
3,4,Doja Cat,Paint The Town Red,1,1
4,5,Drake Featuring 21 Savage,Calling For You,-,5
...,...,...,...,...,...
95,96,Russell Dickerson,God Gave Me A Girl,90,90
96,97,Junior H,Y Lloro,-,97
97,98,Travis Scott Featuring SZA & Future,Telekinesis,72,26
98,99,Jung Kook Featuring Latto,Seven,57,1
99,100,Dustin Lynch,Stars Like Confetti,89,89

# Q6

In [37]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [38]:
Book=[]
Author =[]
Volume=[]
Publisher=[]
Genre=[]

In [46]:
books= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in books:
    bk = i.text
    Book.append(bk)
auths= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in auths :
    aut = i.text
    Author.append(aut)
vols= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vols:
    vl = i.text
    Volume.append(vl)
PUBS = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in PUBS :
    pb = i.text
    Publisher.append(pb)
gens= driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gens:
    gr = i.text
    Genre.append(gr)

In [42]:
len(Author)

100

In [47]:
df=pd.DataFrame({'Book':Book,'Author':Author,'Volume':Volume,'Publisher':Publisher,'Genre':Genre})
df

,Book,Author,Volume,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q7

In [2]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

In [3]:
Name=[]
Year=[]
Genre=[]
Runtime=[]
Ratings=[]
Votes =[]

In [10]:
gens= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p/span[5]')
for i in gens:
    gr = i.text
    Genre.append(gr)
    
Names= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/h3/a')
for i in Names:
    nm = i.text
    Name.append(nm)
    
Years= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/h3/span[2]')
for i in Years:
    yr = i.text
    Year.append(yr)
    
Runtimes= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p/span[3]')
for i in Runtimes :
    rt= i.text
    Runtime.append(rt)
    
Ratingss= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/div/div/span[2]')
for i in Ratingss:
    rg = i.text
    Ratings.append(rg)
    
Votess= driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]/div[2]/p[4]/span[2]')
for i in Votess:
    vt = i.text
    Votes.append(vt)

In [11]:
df=pd.DataFrame({'Name':Name,'Year':Year,'Genre':Genre,'Runtime':Runtime,'Ratings':Ratings,'Votes':Votes})
df

,Name,Year,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,212,949"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,282,869"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,045"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,550"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,500"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,945"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,016"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,863"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,091"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"269,492"

# Q8

In [56]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [57]:
slct = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
slct.click()

In [58]:
slct = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
slct.click()

In [52]:
name=[]
Type=[]
Task=[]
Attribute=[]
instances=[]
totattribute =[]
Year=[]

In [25]:
urls = []
start = 0
end = 5

for page in range(start, end):
                                               
    elements = driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
    for element in elements:
        urls.append(element.get_attribute('href'))
    nxt=driver.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')
    nxt.click()
for url in urls:
    print(url)

https://archive.ics.uci.edu/dataset/53/iris
https://archive.ics.uci.edu/dataset/45/heart+disease
https://archive.ics.uci.edu/dataset/2/adult
https://archive.ics.uci.edu/dataset/109/wine
https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
https://archive.ics.uci.edu/dataset/34/diabetes
https://archive.ics.uci.edu/dataset/602/dry+bean+dataset
https://archive.ics.uci.edu/dataset/19/car+evaluation
https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik
https://archive.ics.uci.edu/dataset/186/wine+quality
https://archive.ics.uci.edu/dataset/53/iris
https://archive.ics.uci.edu/dataset/45/heart+disease
https://archive.ics.uci.edu/dataset/2/adult
https://archive.ics.uci.edu/dataset/109/wine
https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
https://archive.ics.uci.edu/dataset/34/diabetes
https://archive.ics.uci.edu/dataset/602/dry+bean+dataset
https://archive.ics.uci.edu/dataset/19/car+evaluation
https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik
https://archive.ics.uci.edu/dataset/186/wine+quality
https://archive.ics.uci.edu/dataset/53/iris
https://archive.ics.uci.edu/dataset/45/heart+disease
https://archive.ics.uci.edu/dataset/2/adult
https://archive.ics.uci.edu/dataset/109/wine
https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
https://archive.ics.uci.edu/dataset/34/diabetes
https://archive.ics.uci.edu/dataset/602/dry+bean+dataset
https://archive.ics.uci.edu/dataset/19/car+evaluation
https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik
https://archive.ics.uci.edu/dataset/186/wine+quality
https://archive.ics.uci.edu/dataset/53/iris
https://archive.ics.uci.edu/dataset/45/heart+disease
https://archive.ics.uci.edu/dataset/2/adult
https://archive.ics.uci.edu/dataset/109/wine
https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
https://archive.ics.uci.edu/dataset/34/diabetes
https://archive.ics.uci.edu/dataset/602/dry+bean+dataset
https://archive.ics.uci.edu/dataset/19/car+evaluation
https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik
https://archive.ics.uci.edu/dataset/186/wine+quality
https://archive.ics.uci.edu/dataset/53/iris
https://archive.ics.uci.edu/dataset/45/heart+disease
https://archive.ics.uci.edu/dataset/2/adult
https://archive.ics.uci.edu/dataset/109/wine
https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
https://archive.ics.uci.edu/dataset/34/diabetes
https://archive.ics.uci.edu/dataset/602/dry+bean+dataset
https://archive.ics.uci.edu/dataset/19/car+evaluation
https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik
https://archive.ics.uci.edu/dataset/186/wine+quality

In [59]:
names= driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in names:
    name.append(i.text)
Types= driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
for i in Types:
    Type.append(i.text)
Attributes= driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]')
for i in Attributes:
    Attribute.append(i.text)
Tasks= driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
for i in Tasks:
    Task.append(i.text)
instancess= driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
for i in instancess:
    instances.append(i.text)
Years= driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
for i in Years:
    Year.append(i.text)

In [63]:

df = pd.DataFrame({'name': name, 'Type': Type, 'Attribute': Attribute, 'Task': Task, 'instances': instances, 'Year': Year})
df

,name,Type,Attribute,Task,instances,Year
0,Iris,Tabular,Real,Classification,150 Instances,7/1/1988
1,Heart Disease,Multivariate,"Categorical, Integer, Real",Classification,303 Instances,7/1/1988
2,Adult,Multivariate,"Categorical, Integer",Classification,48.84K Instances,5/1/1996
3,Wine,Tabular,"Integer, Real",Classification,178 Instances,7/1/1991
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Real,Classification,569 Instances,11/1/1995
5,Diabetes,,"Categorical, Integer",,,N/A
6,Dry Bean Dataset,Multivariate,"Integer, Real",Classification,13.61K Instances,9/14/2020
7,Car Evaluation,Multivariate,Categorical,Classification,1.73K Instances,6/1/1997
8,Rice (Cammeo and Osmancik),Multivariate,Real,Classification,3.81K Instances,10/6/2019
9,Wine Quality,Multivariate,Real,"Classification, Regression",4.9K Instances,10/7/2009